@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*  {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #231f1b;

}

.img-flower{
    position: absolute;
    width: 250px;
    height: 250px;
    top: 30px;
    left:7em;
}
h1 {
    font-size: 3em !important;
    margin-bottom: 1rem ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 17rem;
}

h2 {
    font-weight: 300;
}

h1, h2,p  {
    color: #F7F7F7;
    line-height: 2.5rem;
    font-size: 1.15em;
    text-align: left;
    margin-left: 8rem;
}

.container .content {
    margin-top: 4rem;
}

.top-nav {
    text-align: center;
    margin-top: 2rem;
    margin-left: auto !important;
    margin-right: auto !important;
}

.top-nav a {
    margin-right: 2rem;
    text-align: center;
    text-decoration: none;
    color: #9DACB5;
    font-size: 1.25em;
    text-decoration: underline;
}

.top-nav a:hover {
    text-decoration: none;
}

.container video {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    width: 100vw;
}

.content {
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
}
.cta-btn {
    text-align: left;
    margin-left: 8rem;
}
.cta-btn a {
    text-decoration: none;
    background-color:#9DACB5;
    border: 2px solid #9DACB5;
    border-radius: 30px;
    padding: .5rem 1rem;
    color: #fff;
    line-height: 4rem;
    letter-spacing: 0.35rem;
    font-size: 0.75em;
    text-transform: uppercase;
}

.cta-btn a:hover {
   background-color: #90A1AB !important;
}

/* tablet mobile  */
@media only screen and (max-width: 916px)  {
    body {
        background-color: #231f1b;
    }
    .container {
        margin-top: 11rem;
    }
    .container .content {
       width: 79%;
    }
    h1 {
        font-size: 1.49em !important;
        color: #fff;
        text-align: left;
        margin-left: .1rem;
        margin-top: 4rem;
    }
    p, h2 {
        color: #fff;
        font-size: .77em;
        text-align: left;
        margin-left: .1rem;
    }
    p{
        width: 75%;
    }
    h2 {
       color: #9DACB5;
       font-size: 1.1em;
    }
    .cta-btn a {
        padding: 1rem 2rem;
        line-height: 6rem;
        font-size: .8em;
    }
    .cta-btn {
        text-align: left;
        margin-left: .1rem;
    }
    .top-nav a {
        font-size: 1.35em;
        width: 70;
        padding-bottom: 1.5rem;
        text-transform: lowercase;
    }
    
    video {
        display: none;
    }
    .img-flower{
        display: none;
    }
}

/* Ultra wide */
@media only screen and (min-width: 1440px) {
    .container .content {
        margin-top: 5rem;
    }
    .top-nav {
        margin-top: 15rem;
    }
    .img-flower{
        position: absolute;
        width: 250px;
        height: 250px;
        top: 90px;
        left:10em;
    }
    h1{
        margin-top: 7rem;
    }
}




